.SearchResults {
    width: 50%;
    height: 950px;
    overflow-y: scroll;
    padding: .88rem;
    background-color:  #222326;
    box-shadow: 0 4px 2px 2px #000000;
    margin-left: 20px;
    margin-right: 5px;
    border-radius: 16px;
  }
  .SearchResults h2{
    color: #1db954;
    background-color: #222326;

    font-size: 1.2rem;

  }

  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .SearchResults {
      width: 90%;
      margin-bottom: 2rem;
    }
  }